<template>
  <el-container>
    <el-header-bar></el-header-bar>
    <el-table></el-table>
    <el-delete-item></el-delete-item>
  </el-container>
</template>

<script>
import {
  RESOURCE_REQUEST
} from '@/store/mutations-types'

  export default {
    data () {
      return {
      }
    },
    mounted() {
      this.$store.dispatch('resource/' + RESOURCE_REQUEST, this.$route.params.model)
    }
  }
</script>
