<template>
  <el-container>
    <form v-if="fields != false" @submit.prevent="newResource()">
      <el-field v-for="(field, key) in fields" :key="key" @setData="setData" :field="field" :errors="errors"></el-field>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </el-container>
</template>

<script>
  import {
    RESOURCE_UPDATE,
    RESOURCE_SHOW
  } from '@/store/mutations-types'

  export default {
    data () {
      return {
        values: {}
      }
    },
    mounted() {
      this.$store.commit('resource/setComponents', [])
      this.$store.dispatch('resource/' + RESOURCE_SHOW, {'model': this.$route.params.model, 'id': this.$route.params.id})
      this.values.id = this.$route.params.id
    },
    methods: {
      newResource () {
        if(Object.keys(this.values).length > 0) {
          this.$store.dispatch('resource/' + RESOURCE_UPDATE, {'model': this.$route.params.model, 'values': this.values})
          .then(resp => {
            if(resp.success) {
             this.$router.push({ name: 'resource', params: { model: resp.slug } })
           }
          })
        }
      },
      setData (column, value) {
        Object.assign(this.values, {[column]: value});
      }
    },
    computed: {
      fields () {
        return this.$store.state.resource.components
      },
      errors () {
        return this.$store.state.resource.errors
      }
    },
    watch: {
      fields: {
        handler: function (val, oldVal) {
          this.$forceUpdate()
        },
        deep: true
      }
    }
  }
</script>
