<template>
  <el-modal>
    <form @submit.prevent="deleteResource()">
      <div class="form-group form-check">
        <input type="checkbox" v-model="status" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check to confirme</label>
      </div>
      <button type="submit" :class="{'btn btn-primary': true, 'disabled': !this.status}">Submit</button>
    </form>
  </el-modal>
</template>
<script>
  import {
    RESOURCE_DELETE
  } from '@/store/mutations-types'
  export default {
    name: 'DeleteItem',
    tag: 'el-delete-item',
    data () {
      return {
          status: false
      }
    },
    methods: {
      deleteResource () {
        if(this.status & (this.id != null && this.id != '')) {
          this.$store.dispatch('resource/' + RESOURCE_DELETE, {'model': this.$route.params.model, 'id': this.id})
          .then(resp => {
            if(resp.success) {
              this.$store.commit('resource/resourceRemove', this.id)
              this.closeModal()
            }
          })
        }
      }
    },
    computed: {
      id () {
        return this.$store.state.global.id
      }
    },
    watch: {
      id: {
        handler: function (val, oldVal) {
          this.status = false
        },
        deep: true
      }
    }
  }
</script>
