<template>
  <div class="form-group">
    <label :for="nameElement(field.column)" v-if="field.type != 'hidden'">{{ field.name }}</label>
    <input
      :type="field.type"
      v-model="data"
      @keyup="setData(field.column)"
      :class="{'form-control': true, 'is-invalid': errors != false && errors[field.column]}"
      :id="nameElement(field.name)"
    >
    <small v-if="errors != false && errors[field.column]" v-for="error in errors[field.column]" class="text-danger">
      {{ error }}
    </small>
  </div>
</template>

<script>
  export default {
    name: 'Field',
    tag: 'el-field',
    props:['field', 'errors'],
    data () {
      return {
        data: null
      }
    },
    mounted () {
      this.$store.commit('resource/setErrors', false)
      if(this.field.value) {
        this.data = this.field.value
        this.$emit('setData', this.field.column, this.data)
      }
    },
    methods: {
      nameElement (elem) {
        return 'inputElement'+elem.charAt(0).toUpperCase() + elem.slice(1);
      },
      setData (column) {
        this.$emit('setData', column, this.data)
      }
    }
  }
</script>
