<template>
  <div>
    <table class="table">
      <el-table-header :rows="rows"></el-table-header>
      <tbody v-if="data != false && rows != false">
        <tr v-for="item in data">
          <td v-for="row in rows">{{ item[row.column] }}</td>
          <el-table-actions :slug="slug" :id="item['id']"></el-table-actions>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
  export default {
    name: 'Table',
    tag: 'el-table',
    data () {
      return {
        slug: this.$route.params.model
      }
    },
    mounted () {
    },
    computed: {
      data () {
        return this.$store.state.resource.tableData
      },
      rows () {
        return this.$store.state.resource.tableHeader
      }
    }
  }
</script>
